<!DOCTYPE html>
<head>
    <title>Help</title>
    <link rel='icon' href='/img/weather.png' />
    <link rel='stylesheet' href='/css/styles.css' />
</head>
<body>
    <header>
        {{>header}}
        <h1>{{title}}</h1>
    </header>
    {{>footer}}
</body>
</html>